body {
  color: var(--color-black);
}

.page {
  flex: 1 0 auto;
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  @include media-breakpoint-only(xs) {
    padding-left: $grid-gutter-width-xs;
    padding-right: $grid-gutter-width-xs;
  }

  @include media-breakpoint-only(sm) {
    padding-left: $grid-gutter-width-sm;
    padding-right: $grid-gutter-width-sm;
    max-width: none;
  }
}

a {
  color: var(--color-black);
  text-decoration: none;
  transition: color .3s;
  font-size: 18px;
}

img {
  max-width: 100%;
  display: block;
}

ul,
ol {
  padding-left: 20px;
}

ul li {
  list-style-type: square;
}

.table {
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

.table__element {
  width: 100%;
  min-width: 800px;
}

th {
  text-align: left;
}

$animate: all 0.2s ease-in-out;

.link {
  position: relative;
  transition: font-weight 1.4s ease-in-out;

  &:hover {
    font-weight: 700;
  }

  &:active,
  &:focus {
    &:before,
    &:after {
      width: 0;
      transition: $animate;
      transition-duration: 0.3s;
      opacity: 1;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 2px;
    background-color: var(--color-gray3);
    left: 0;
    width: 100%;
  }
}
  
// .example {
//   display: flex;
//   flex-flow: row nowrap;
//   align-items: center;
//   margin: 0 0 45px;
//   .hover {
//     font-size: 36px;
//     text-align: center;
//     margin: 0 auto;
//     padding: 0;
//     position: relative;
//     &:before,
//     &:after {
//       content: "";
//       position: absolute;
//       bottom: -10px;
//       width: 0px;
//       height: 5px;
//       margin: 5px 0 0;
//       // opacity: 0;
//       background-color: darken(orange,5%);
//       left: 0;
//       width: 100%;
//     }
//   }

//   &:active,
//   &:focus {
//     .hover {
//       &:before,
//       &:after {
//         width: 0;
//         transition: $animate;
//         transition-duration: 0.75s;
//         opacity: 1;
//       }
//     }
//   }
// }