$grid-gutter-width-xs: 20px;
$grid-gutter-width-sm: 25px;
$grid-gutter-width: 25px;

$container-max-widths: (
  md: 720px + $grid-gutter-width,
  lg: 960px + $grid-gutter-width,
  xl: 1200px + $grid-gutter-width,
  /*xxl: 1500px + $grid-gutter-width,*/
  /*xxxl: 1800px + $grid-gutter-width*/
);

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 1024px,
  xl: 1280px,
  /*xxl: 1600px,*/
  /*xxxl: 1920px*/
);

:root {
  --color-black: #000000;
  --color-white: #ffffff;
  --color-blue: #269bff;
  --color-red: #ff2626;
  --color-green: #459a2b;
  --color-green2: #50ae30;
  --color-green3: #3B9822;
  --color-gray: #373737;
  --color-gray2: #f5f1ea;
  --color-gray3: #868686;
  --color-brown: #e1dacc;

}